@font-face {
    font-family: 'Enzo Offc';
    src: url('EnzoOffc-Bold.woff2') format('woff2'),
        url('EnzoOffc-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Enzo Offc';
    src: url('EnzoOffc-Light.woff2') format('woff2'),
        url('EnzoOffc-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Verdana';
    src: url('Verdana-Bold.woff2') format('woff2'),
        url('Verdana-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Verdana';
    src: url('Verdana.woff2') format('woff2'),
        url('Verdana.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Enzo Offc';
    src: url('EnzoOffc-Black.woff2') format('woff2'),
        url('EnzoOffc-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

