
// Css Color Variable
$color__black: #000000;
$color__white: #FFFFFF;
$color__primary: #A69380;
$color__primary__dark: #89805D;
$bg_body: #DFDED9;
$color__secondary: #210021;
$font__enzo: 'Enzo Offc';
$font__vardana: 'Verdana';