/*--------------------------------------------------------------
# Footer-block
--------------------------------------------------------------*/
.cta {
    background-color: #89805D;
    padding: 4rem 0;
    .logo {
        @include xl-down {
            max-width: 30rem;
            margin: 0 auto;
        }
    }
    p {
        line-height: 1.5;
        @include lg-down {
            text-align: center;
        }
    }
    .button {
        a {
            border: .2rem solid $color__white;
            text-align: center;
            padding: 1.5rem 4rem;
            border-radius: .8rem;
            color: $color__white;
            font-weight: 500;
            font-size: 1.6rem;
            transition: all .2s ease;
            display: inline-block;
            line-height: normal;
            
            @include xl-up {
                font-size: 2rem;

            }

            &:hover {
                background-color: $color__white;
                color: #89805D;
            }
        }
    }
}
footer {
    .footer-top {
        background-color: $color__secondary;
        padding: 6rem 0;
        .widget-title {
            color: #89805D;
            margin-bottom: 1rem;
            font-weight: bold;
            font-size: 1.8rem;
        }
        p, address {
            color: #A69380;
        }
        ul {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
    .footer-bottom {
        background-color: $color__primary;
        padding: 2rem 0;
        p {
            color: $color__white;
            font-size: 1.4rem;
            font-weight: 300;
        }
        [class*=start] {
            .footer-logo {
                @media (min-width:576px) and (max-width:767px) {
                    display: none;
                }
                @include md-up {
                    max-width: 10rem;
                }
                @include xl-up {
                    max-width: 15rem;
                }
            }
        }
        .footer-logo {
            max-width: 15rem;
            @include sm-down {
                display: block;
                margin: 0 auto;
            }
        }
    }
}