.page_banner {
    padding: 13rem 0 5rem;
    background-color: var(--bg_color);
    overflow: hidden;
    position: relative;
    z-index: 1;
    @include md-up {
        padding: 15rem 0 5rem;
    }

    .xl_headeing {
        color: #60545f;
        font-weight: bold;
        font-family: $font__enzo;
        font-size: 4rem;
        line-height: 1;
        @include md-up {
            font-size: 6rem;
        }
        @include xl-up {
            font-size: 8rem;
        }
        @include xxl-up {
            font-size: 10rem;
        }
    }
    .banner-title {
        color: var(--color);
        font-family: $font__enzo;
        font-size: 5rem;
        line-height: 1;
        @include md-up {
            font-size: 6rem;
        }
        @include xl-up {
            font-size: 8rem;
        }
        @include xxl-up {
            font-size: 10rem;
        }
    }
    .shapes {
        position: absolute;
        inset: 0;
        z-index: -1;

        img {
            position: absolute;
            right: -2rem;
            width: 40rem;
            top: -10%;
            @include md-up {
                width: 50rem;
                top: -25%;
            }
            @include xl-up {
                width: 65rem;
                top: -40%;
            }
            @include xxxl-up {
                width: 75rem;
                top: -45%;
            }
        }
    }
    &.heritage {
    }    
    &.about {
        .shapes {
            position: absolute;
            inset: 0;
            z-index: -1;
            opacity: .5;
            img {
                position: absolute;
                width: 40rem;
                transform: rotate(45deg);
            }
            .shape1 {
                bottom: 35%;
                left: 60%;
                @include md-up {
                    left: 70%;
                }
            }
            .shape2 {
                right: 75%;
                top: 60%;
                @include md-up {
                    right: 85%;
                    top: 70%;
                }
                @include xxl-up {
                    right: 90%;
                    top: 65%;
                }
            }
        }

    }
}