.heritage_intro {
    padding: 8rem 0;

    .title {
        font-family: $font__enzo;
        font-weight: 900;
        font-size: 2rem;
        color: var(--text-color);
        margin-bottom: 2rem;
        @include xxl-up {
            font-size: 2.6rem;
        }
        @include xxxl-up {
            font-size: 2.8rem;
        }
    }

    p {
        font-size: 1.8rem;
        color: $color__secondary;
        @include xl-down {
            font-size: 1.6rem;
        }
        @include xxxl-up {
            font-size: 2rem;
        }
    }
}
.step7 {
    .step_intro {
        padding: 6rem 0;
        background-color: rgba(#61351C, .6);

        .title {
            font-family: $font__enzo;
            font-weight: 900;
            font-size: 2rem;
            color: $color__white;
            margin-bottom: 2rem;
            @include xxl-up {
                font-size: 2.6rem;
            }
            @include xxxl-up {
                font-size: 2.8rem;
            }
        }
        p {
            font-size: 1.8rem;
            color: #DFDED9;

            @include xl-down {
                font-size: 1.6rem;
            }
            @include xxxl-up {
                font-size: 2rem;
            }
        }
    }

    .step7_slider {
        padding: 8rem 0;
        overflow: hidden;

        .section-title {
            font-family: $font__enzo;
            font-size: 5rem;
            line-height: 1;
            margin-bottom: 3rem;
            color: #61351C;
            font-weight: 300;
    
            @include md-up {
                font-size: 6rem;
            }
            @include lg-up {
                max-width: 60%;
            }
            @include xl-up {
                font-size: 7rem;
            }
            @include xxl-up {
                font-size: 8rem;
                margin-bottom: 4rem;
            }
        }
        .step7Slider_content {
            max-width: 40rem;
            margin-left: 0;
            .slide_content {
                direction: ltr;
                .title {
                    color: #61351C;
                    font-family: $font__enzo;
                    font-weight: 900;
                    font-size: 3rem;
                    margin-bottom: 1.5rem;
                }
                .description {
                    color: $color__secondary;
                    font-size: 1.8rem;
                    line-height: 1.75;

                    @include xl-down {
                        font-size: 1.6rem;
                    }
                    @include xxxl-up {
                        font-size: 2rem;
                    }
                }
            }
        }
        .step7Slider_content_image {
            align-items: center;
            user-select: none;
            @include md-up {
                width: 170%;
            }
            @include lg-up {
                width: 130%;
            }
            @include xl-up {
                width: 140%;
            }
            @include xxl-up {
                width: 145%;
            }
            .swiper-slide {
                opacity: .3;
                transition: all .3s ease;
                height: auto;
                text-align: center;
                img {
                    transform: scaleY(.8);
                    transition: transform .5s ease;
                }
                &-active {
                    opacity: 1;
                    img {
                        transform: scaleY(1);
                    }
                }
            }
        }

        .slider-navigation {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-top: 2rem;
            @include md-up {
                width: 30rem;
            }
            @include xxl-up {
                width: 40rem;
            }
            @include xxxl-up {
                width: 45rem;
            }
            button {
                width: 4rem;
                height: 4rem;
                background-color: $color__primary__dark;
                border-radius: 50%;
                border: 0;
                @include flex-center;
                transition: all .3s ease;

                @include xxxl-up {
                    width: 5rem;
                    height: 5rem;
                }
                &:hover {
                    background-color: $color__secondary;
                }
                svg {
                    width: 2rem;
                    @include xxxl-up {
                        width: 3rem;
                    }
                }
            }
        }
    }
}